{%extends "base.html"%}
{% load static %}
{% block title %}工具箱{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/blog/css/album.css' %}">
{% block albumsHead %}
{% endblock %}
{% endblock %}

{% block content %}
{% for pic in pics %}
    <div class="album clearfix">
        <div class="clearfix">
            <a href="#" class="album-widget">
                <span class="album-img">
                    <img src="/media/{{pic.image}}" alt="">
                </span>
                <h4 class="album-title">
                    {{pic.description}}
                </h4>
            </a>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block script %}
{% block albumsScript %}
{% endblock %}
{% endblock %}