body{
    background-image: url("/static/blog/img/dm-bg8.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}
.album{
    padding: 30px 100px;
    text-align: left;
}
.album>div{
    display: inline-block;
    position: relative;
    margin: 30px 30px;
    height: 180px;
    width: 240px;
}

.album-widget{
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 6px 20px rgb(36 37 38 / 8%);
    transition: all .3s;
}
.album-widget:hover{
    top: -5px;
}
.album-img{
    display: inline-block;
    padding: 20px 20px;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.album-img>img{
    width: 100%;
}
.album-title{
    margin: 5px 0 0 0;
    font-weight: 700;
    color: #666;
}