.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.content{
    margin:0 auto;
    padding:30px 10px;
    max-width: 1260px;
}
.content::after{
    content:"";
    display:block;
    clear:both;
}
.content-left{
    float:left;
    width:68%;
    clear:both;
    overflow:hidden;
}
.banner{
    position: relative;
    border: 10px solid #fff;
    box-shadow: 1px 1px 5px #333333;
}
.scroll{
    position: relative;
    width:100%;
    height:354px;
    overflow: hidden;
    z-index:1;
}
.img-round{
    position: absolute;
    height:100%;
    left:0;
    float:left;
    overflow:hidden;
    opacity:0;
    transition: opacity 0.55s ease 0s;
}
.img-round img{
    width:100%!important;
    height:auto!important;
}
.trigger{
    position: absolute;
    right:12px;
    bottom:12px;
    z-index:10;
    cursor: default;
}
.trigger span{
    display:inline-block;
    margin:0 6px;
    width: 15px;
    height: 15px;
    border-radius:50%;
    background-color: #fff;
}
.trigger span:hover{
    cursor: pointer;
}
.trigger span:not( .active):hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: #00A1D6;
    border: 3px solid #fff;
    transition: transform 0.15s ease 0s,background-color 0.15s ease 0s;
}
.trigger .active{
    background-color: transparent;
    background-image: url('/static/blog/img/icon_slide_selected.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.6);
    transition: all 0.2s;
}
.content-right{
    width: 29%;
    float: right;
}
.widget{
    /*border:1px solid #cfcfd1;*/
    outline:#cfcfd1 solid 1px;
    background-color:rgba(255, 255, 255, 0.88);
    margin:30px 0;
    padding:18px 30px 10px 30px;
    text-align:left;
}
.widget-self-info{
    background-image: url('/static/blog/img/22.png'),url('/static/blog/img/33.png');
    background-position: left,right;
    background-repeat: no-repeat,no-repeat;
    background-size: 30%,30%;
}
.widget:first-child{
    margin:0;
    padding:0 0 10px 0;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.95);
}
.widget-title{
    text-align:left;
    position:relative;
    padding:5px 10px 15px 0px;
    color:#444;
    border-bottom:1px solid #ddd;
    margin-bottom:10px;
}
.widget-title::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100px;
    background-color: #51aded;
    height: 2px!important;
}
.widget li{
    margin:20px 0;
}
.widget ul li a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color:#666;
}
.hot-rank{
    display:inline-block;
    background-color:#bbb;
    color:#fff;
    width:22px;
    height:100%;
    margin:0 10px 0 0;
    text-align:center;
}
.widget li:nth-child(1) .hot-rank{
    background-color:#FF3300;
}
.widget li:nth-child(2) .hot-rank{
    background-color:#FF6600;
}
.widget li:nth-child(3) .hot-rank{
    background-color:#FF9900;
}
.widget-tag-cloud ul li{
    display:inline-block;
    margin:5px;
    padding:5px;
}
.widget-tag-cloud ul li:nth-child(5n+1){
    background-color:#66ccff;
}
.widget-tag-cloud ul li:nth-child(5n+2){
    background-color:#ffcc55;
}
.widget-tag-cloud ul li:nth-child(5n+3){
    background-color:#aadd77;
}
.widget-tag-cloud ul li:nth-child(5n+4){
    background-color:#ad1299;
}
.widget-tag-cloud ul li:nth-child(5n+5){
    background-color:#e85e11;
}
.widget-tag-cloud ul li a{
    color:#fff;
}
.right-bgi img{
    width:100%;
    height:100px;
}
.right-avatar img{
    width:25%;
    margin-top:-56px;
    border-radius:50%;
    /*box-shadow:0 0 5px 3px #d6d6e6;*/
    border:5px solid rgba(255,255,255,.55);
}
.right-text{
    color:#424242;
    line-height:36px;
}
.right-text h3:first-child{
    display: inline-block;
    margin:15px 20px 0px 20px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    border-image: -webkit-linear-gradient(left, #fff 2%,rgb(189, 201, 197) 50%,#fff 98%) 1 1 1 1;
    border-image: -moz-linear-gradient(left, #fff 2%,rgb(189, 201, 197) 50%,#fff 98%) 1 1 1 1;
    border-image: linear-gradient(left, #fff 2%,rgb(189, 201, 197) 50%,#fff 98%) 1 1 1 1;
}
.right-text h3 a{
    display:inline-block;
    margin:5px 0 0 0;
    padding:6px 12px;
    color:#424242;
    font-size: 22px;
    border-radius:3px;
    font-weight:700;
    line-height:20px;
}
.right-text .username a{
    font-size: 14px;
    color: #6d7586d0;
}
.right-text p{
    color: #424753e7;
    margin: 5px 0 0 0;
}
.contact-me{
    margin: 30px 0 16px 0;
}
.contact-me .contact-icon{
    float: left;
    margin: 0 15px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.contact-me .contact-icon:first-child{
    margin-left: 60px;
}
.contact-me .contact-icon a img,
.contact-me .contact-icon a svg{
    height: 100%;
}
.contact-me .bilibili{
    border-radius: 50%;
}
.contact-me .home{
    text-align: center;
    font-size: 28px;
    border-radius: 50%;
    background-color: #ff5c7c;
}
.contact-me .home a{
    color:#fff;
}
.contact-me .home .fa::after{
    content: "";
}
.site-message{
    margin: 10px 0 0 0;
    background-color: rgba(231, 245, 239, 0.726);
}
.site-message-item{
    display: inline-block;
    padding:0 10px;
    border-right: 1px solid rgba(226, 226, 226, 0.603);
    /* background-color: rgba(204, 238, 224, 0.726); */
}
.site-message-item:last-child{
    border: none;
}
.site-message-item-name{
    font-size: 2px;
    /* background-color: rgba(10, 209, 166, 0.877); */
}
.site-message-item-count{
    display:block;
    padding:0 10px;
    font-size:18px;
    font-weight: 600;
}
article{
    padding:3% 3% 3% 3%;
    margin:3% 0;
    background-color:rgba(255, 255, 255, 0.88);
    transition: all .5s;
}
article:hover{
    background-color: #fff;
}
.entry-cover {
    width: 200px;
    height: 125px;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    margin-right: 5%;
}
.entry-cover img{
    width:100%;
}
.entry-header{
    text-align:left;
    display: block;
    font-size: 14px;
    color: #aaa;
    overflow: hidden;
}
.entry-header a{
    color: #aaa;
}
.entry-title a{
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.entry-meta{
    line-height:48px;
}
.entry-meta .fa{
    padding:0 5px;
    margin-right:15px;
}
.entry-meta .fa:first-child{
    padding-left:0;
}
.entry-content{
    overflow:hidden;
}
.excerpt{
    text-align:left;
    color:#666;
    font-size:14px;
    line-height:25px;
    width:fit-content;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.pagination{
    text-align:center;
    margin:50px auto;
}
.pagination li{
    display:inline-block;
    margin:0 3px;
    width:35px;
    height:35px;
    /* border:1px solid #eaeaea; */
    border-radius: 5px;
    border-collapse:collapse;
    line-height:35px;
    background-color:#fff;
}
.pagination li a:hover{
    /* background-color:#3388DD; */
    background-color:#0fad79;
}
.pagination li.active{
    /* background-color:#3388DD; */
    background-color:#0fad79;
}
.pagination li a{
    display:block;
    border-radius: 5px;
    color:#000044;
    width:100%;
    height:100%;
}
.pagination li a:hover{
    color:#fff;
}
.pagination li.active a{
    color:#fff;
}
@media screen and (max-width: 1210px){
    .content{
        width: 96%;
        margin: auto;
    }
    .content-left{
        width:96%;
    }
    .content-right{
        display:none;
    }
}
@media screen and (max-width:720px){
    .entry-cover{
        float:none;
        width:100%;
        height:200px;
        text-align:center;
    }
    .entry-cover a{
        text-align:center;
    }
}
@media screen and (max-width:640px){
    .entry-meta .fa{
        padding:0;
        margin-right:15px;
    }
    .excerpt{
        -webkit-line-clamp: 2;
    }
    .scroll{
        height:200px!important;
        overflow-y: hidden;
    }
    .entry-meta :nth-child(n+3){
        display:none;
    }
    .entry-title{
        margin-top:10px;
    }
}
@media screen and (max-width:480px){
    .content-left{
        width:100%;
    }
    .entry-cover{
        height:150px;
    }
    .entry-content{
        overflow:hidden;
    }
}