/* space */
.content{
    margin:0 auto;
    padding:0 10px;
    max-width: 1260px;
}
.content::after{
    content:"";
    display:block;
    clear:both;
}

body{
    background-image: url("/static/blog/img/dm-bg8.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}
.up-content{
    position: relative;
    background-image: url("/static/blog/img/nature-bg1.jpg");
    background-repeat: no-repeat;
    background-size: 1240px;
    background-position: 0% 3%;
    width: 100%;
    height: 200px;
}
.user-avatar-top{
    position: absolute;
    left: 20px;
    bottom: 10px;
}
.user-avatar-top img{
    height: 80px;
    width: 80px;
    border-radius:50%;
}
.user-nick-name-top{
    position: absolute;
    left: 120px;
    bottom: 60px;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
}
.sign-content{
    position: absolute;
    left: 120px;
    bottom: 30px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
}
.up-bar{
    position: relative;
    text-align: left;
    height: 60px;
    background-color: #fdfdfdf6;
}
.up-bar a{
    position: relative;
    float:left;
    vertical-align: middle;
    line-height: 60px;
    padding: 0 30px;
    transition: .3s ease;
    color: #6f6f6fea;
    font-weight: 900;
}
.up-bar-after{
    position: absolute;
    bottom: 0;
    border-top: 3px solid #00a1d6;
    transition: .3s ease;
}
.up-bar-active{
    color: #00aaff!important;
}
.main{
    margin: 20px 0 0 0;
}
.left-content{
    float: left;
    width: 68%;
}
.main-content{
    background-color: #fdfdfdf6;
}
.right-content{
    float: right;
    width: 29%;
}
.widget{
    outline:#e6e6e0e0 solid 1px;
    background-color: #fdfdfdf6;
    margin:20px 0;
    padding:18px 30px 10px 30px;
    text-align:left;
}
.widget:first-child{
    margin: 0;
}
.widget-title{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #e4e4e4ea;
}
.widget-title>.change-info{
    float: right;
    padding: 5px;
    color: #5f5f5fea;
    font-size: 12px;
    font-weight: normal;
    outline: #dfdfd1ea solid 1px;
    border-radius: 5px;
}
.widget-content{
    margin: 15px 0 0 0;
}
.widget-content>li{
    margin: 0 0 25px 0;
    color: rgb(48, 48, 48);
}
.widget-content>li>i{
    color: #000;
}
.widget-content>li>span{
    margin: 0 0 0 10px;
    color: #666;
}

/* blank */
.blank-tips{
    height: 120px;
    color:rgb(126, 126, 126);
}
.blank-tips p{
    line-height: 120px;
    vertical-align: middle;
}

/* star */
article{
    padding:3% 0% 3% 0%;
    margin: 0 5%;
    transition: all .5s;
    border-bottom: 1px solid rgba(226, 226, 226, 0.808);
}
article:last-child{
    border-bottom: 0px solid #000;
}
.entry-header{
    text-align:left;
    display: block;
    position: relative;
    font-size: 14px;
    color: #aaa;
    overflow: hidden;
}
.entry-header a{
    color: #aaa;
}
.entry-title{
    width: 90%;
}
.entry-title a{
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.entry-edit{
    position: absolute;
    right: 0;
    top: 0;
}
.entry-meta{
    line-height:48px;
}
.entry-meta .fa{
    padding:0 5px;
    margin-right:15px;
}
.entry-meta .fa:first-child{
    padding-left:0;
}
.entry-content{
    overflow:hidden;
}
.excerpt{
    text-align:left;
    color:#666;
    font-size:14px;
    line-height:25px;
    width:fit-content;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* pagination */
.pagination{
    text-align:center;
    margin:50px auto;
}
.pagination li{
    display:inline-block;
    margin:0 3px;
    width:35px;
    height:35px;
    border-radius: 5px;
    border-collapse:collapse;
    line-height:35px;
    background-color:#fff;
}
.pagination li a:hover{
    background-color:#0fad79;
}
.pagination li.active{
    background-color:#0fad79;
}
.pagination li a{
    display:block;
    border-radius: 5px;
    color:#000044;
    width:100%;
    height:100%;
}
.pagination li a:hover{
    color:#fff;
}
.pagination li.active a{
    color:#fff;
}