{%extends "base.html"%}
{% load static %}
{% block title %}相册{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/blog/css/album.css' %}">
{% block albumsHead %}
{% endblock %}
{% endblock %}

{% block content %}
{% for album in albums %}
    <div class="album clearfix">
        <div class="clearfix">
            <a href="{% url 'blog:albums' album.id %}" class="album-widget">
                <span class="album-img">
                    <img src="/media/{{album.cover}}" alt="">
                </span>
                <h4 class="album-title">
                    {{album.name}}
                </h4>
            </a>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block script %}
{% block albumsScript %}
{% endblock %}
{% endblock %}