{%extends "base.html"%}
{% load static %}
{% block title %}工具箱{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/blog/css/album.css' %}">
{% block albumsHead %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="album clearfix">
    <div class="clearfix">
        <a href="{% url 'blog:albums' 1 %}" class="album-widget">
            <span class="album-img">
                <img src="{% static '/blog/img/dm-bg3.jpg' %}" alt="">
            </span>
            <h4 class="album-title">
                明日方舟
            </h4>
        </a>
    </div>
</div>
{% endblock %}

{% block script %}
{% block albumsScript %}
{% endblock %}
{% endblock %}