{%extends "base.html"%}
{% load static %}
{% block title %}{{album.name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/blog/css/album.css' %}">
{% block albumsHead %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="albums-header">
    <span class="albums-label">
      <i class="fa fa-image"></i>
      相册
    </span>
    <span class="albums-name">
      {{album.name}}
    </span>
    <span class="albums-count">
      共 {{count}} 张
    </span>
    <p class="albums-description">
        {{album.description}}
    </p>
</div>
<ul class="albums clearfix">
    {% for pic in page %}
    <li>
        <div class="albums-widget">
            <a href="{% url 'blog:picture' pic.id %}">
                <img src="/media/{{pic.image}}" alt="">
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
<ul class="pagination">
    <!--上一页-->
    <li class="{% if not page.has_previous %}disabled{% endif %}">
        {% if page.has_previous %}
        <a href="{% url 'blog:index' %}?page={{ page.previous_page_number }}" aria-label="Previous">
        {% endif %}
        <!-- <span aria-hidden="true">&laquo;</span> -->
        <span aria-hidden="true">
            <i class="fa fa-caret-left"></i>
        </span>
        </a>
    </li>

    <!--页码-->
    <!--这里展示页码使用传递过来的dis_range -->
    {% for num in dis_range %}
    <li class="{% if num == page.number %}active{% else %}{% endif %}" >
        <a href="{% url 'blog:index' %}?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %}

    <!--下一页-->  
    <li class="{% if not page.has_next %}disabled{% endif %}">
        {% if page.has_next %}
        <a href="{% url 'blog:index' %}?page={{ page.next_page_number }}" aria-label="Next">
        {% endif %}
        <!-- <span aria-hidden="true">&raquo;</span> -->
        <span aria-hidden="true">
            <i class="fa fa-caret-right"></i>
        </span>
        </a>
    </li>
</ul>
{% endblock %}

{% block script %}
{% block albumsScript %}
{% endblock %}
{% endblock %}