{%extends "blog/index.html"%}
{% load static %}

{% block title %} {{ category.source }}的归档{% endblock %}
{% block bhead %}
<link rel="stylesheet" href="{% static '/blog/css/tags_list.css' %}">
{% endblock %}

{% block article %}
  <div class="tag-header">
    <span class="tag-header-label">
      <i class="fa fa-th"></i>
      分类
    </span>
    <span class="tag-header-name">
      {{category.source}}
    </span>
    <span class="tag-header-count">
      共 {{count}} 篇
    </span>
  </div>
  <div class="container">
    {% load blogExtras %}
    {% for post in page %}
    <article class="clearfix">
        <div class="entry-cover">
            <a href="{% url 'blog:detail' post.id %}">
                <img src="/media/{{ post.img }}" alt="">
            </a>
        </div>
        <div class="entry-header">
            <div class="entry-title">
                <h1><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</h1></a>
            </div>
            <div class="entry-meta">
                <a href="#"><i class="fa fa-user-o">&nbsp;&nbsp;{{ post.user.nick_name }}</i></a>
                <i class="fa fa-clock-o time">&nbsp;&nbsp;{{ post.created_time }}</i>
                <a href="{% url 'blog:detail' post.id %}"><i class="fa fa-eye">&nbsp;&nbsp;{{ post.views }}</i></a>
                <a href="{% url 'blog:detail' post.id %}"><i class="fa fa-thumbs-o-up">&nbsp;&nbsp;{{ post.thumbs_up }}</i></a>
                <a href="{% url 'blog:detail' post.id %}"><i class="fa fa-comment-o">&nbsp;&nbsp;{{ post.comments }}</i></a>
            </div>
        </div>
        <div class="entry-content">
            <a href="{% url 'blog:detail' post.id %}" class="excerpt">
                {% if post.excerpt %}
                {{ post.excerpt }}
                {% else %}
                {{ post.body }}
                {% endif %}
            </a>
        </div>
    </article>
    {% endfor %}
    <ul class="pagination">
        <!--上一页-->
        <li class="{% if not page.has_previous %}disabled{% endif %}">
            {% if page.has_previous %}
            <a href="{% url 'blog:category' category.encode %}?page={{ page.previous_page_number }}" aria-label="Previous">
            {% endif %}
            <!-- <span aria-hidden="true">&laquo;</span> -->
            <span aria-hidden="true">
                <i class="fa fa-caret-left"></i>
            </span>
            </a>
        </li>

        <!--页码-->
        <!--这里展示页码使用传递过来的dis_range -->
        {% for num in dis_range %}
        <li class="{% if num == page.number %}active{% else %}{% endif %}" >
            <a href="{% url 'blog:category' category.encode %}?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}

        <!--下一页-->  
        <li class="{% if not page.has_next %}disabled{% endif %}">
            {% if page.has_next %}
            <a href="{% url 'blog:category' category.encode %}?page={{ page.next_page_number }}" aria-label="Next">
            {% endif %}
            <!-- <span aria-hidden="true">&raquo;</span> -->
            <span aria-hidden="true">
                <i class="fa fa-caret-right"></i>
            </span>
            </a>
        </li>
    </ul>
  </div>
    <!-- <ul>
      {% for post in post_list %}
        <li>{{post}}</li>
      {% endfor %}
    </ul> -->
{% endblock  %}