{%extends "blog/index.html"%}
{% load static %}
{% block detailhead %}
    <link rel="stylesheet" href="/static/mdeditor/css/editormd.min.css">
    
    <!--引入js文件-->
    <script src="/static/blog/js/zepto.min.js"></script>
    <script src="/static/mdeditor/js/lib/prettify.min.js"></script>
    <script src="/static/mdeditor/js/lib/marked.min.js"></script>
    <script src="/static/mdeditor/js/editormd.min.js"></script>
    <style>
        article{
            margin:0;
            padding:20px 25px 50px 25px;
            background-color: #fff;
        }
        .article-title{
            text-align: left;
            padding:10px 0px 20px 10px;
        }
        .article-meta{
            text-align:left;
            line-height:48px;
            padding: 0 20px;
            border-bottom:1px dashed #aaaaaaaa;
        }
        .article-meta a{
            color: #aaa;
        }
        .article-meta .fa{
            padding:0 5px;
            margin-right:15px;
        }
        .article-meta .fa:first-child{
            padding-left:0;
        }
        .article-tags-label{
            padding:0 !important;
            margin-right: 5px !important;;
        }
        .article-tags-box a{
            color: #fff;
            background-color: #88aaff;
            padding: 5px 7px 5px 7px;
            border-radius: 2px;
            margin-right: 10px;
        }
        .article-tags{
            display: inline-block;
        }
    </style>
{% endblock %}
{% block article %}
    <article>
        <div class="article-title">
            <h2>{{post.title}}</h2>
        </div>
        <div class="article-meta">
            <a href="#"><i class="fa fa-user-o">&nbsp;&nbsp;{{ post.user.nick_name }}</i></a>
            <a><i class="fa fa-clock-o time">&nbsp;&nbsp;{{ post.created_time }}</i></a>
            <a><i class="fa fa-eye">&nbsp;&nbsp;{{ post.views }}</i></a>
            <a href="javascript:giveThumbsUp()" id="praise-login"><i class="fa fa-thumbs-o-up">&nbsp;&nbsp;{{ post.thumbs_up }}</i></a>
            <a href="#"><i class="fa fa-comment-o">&nbsp;&nbsp;{{ post.comments }}</i></a>
            <div class="article-tags-box">
                <i class="article-tags-label fa fa-tags"></i>
                {% for tag in post.tags.all %}
                    <a href="#">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        <div id="article-content">
            <textarea>{{post.body|safe}}</textarea>
        </div>
    </article>
    <!--处理逻辑-->
    <script>
        editormd.markdownToHTML("article-content", { //article_content是html文档的ID
            emoji: true,
            taskList: true,
        });
    </script>
    <script>
        var giveThumbsUp = ()=>{
            if(!getCookie('username')){
                userLogin();
            }else{
                alert('ok');
            }
        };
    </script>
{% endblock %}