{%extends "blog/index.html"%}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static '/blog/css/index.css' %}">
    <link rel="stylesheet" href="{% static '/blog/css/detail.css' %}">
    <link rel="stylesheet" href="{% static '/mdeditor/css/editormd.min.css' %}">
    
    <!--引入js文件-->
    <script src="{% static '/blog/js/zepto.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static '/mdeditor/js/editormd.min.js' %}"></script>
{% endblock %}
{% block article %}
    <article>
        <div class="article-title">
            <h2>{{post.title}}</h2>
        </div>
        <div class="article-meta">
            <a href="#"><i class="fa fa-user-o">&nbsp;&nbsp;{{ post.user.nick_name }}</i></a>
            <a><i class="fa fa-clock-o time">&nbsp;&nbsp;{{ post.created_time }}</i></a>
            <a><i class="fa fa-eye">&nbsp;&nbsp;{{ post.views }}</i></a>
            <a href="javascript:" id="article-praise-up" class="praise">
                <i class="{%if isPraise%}fa fa-thumbs-up{%else%}fa fa-thumbs-o-up{%endif%}">&nbsp;&nbsp;{{ post.thumbs_up }}</i>
            </a>
            <a href="#"><i class="fa fa-comment-o">&nbsp;&nbsp;{{ post.comments }}</i></a>
            <div class="article-tags-box">
                <i class="article-tags-label fa fa-tags"></i>
                {% for tag in post.tags.all %}
                    <a href="#">{{tag}}</a>
                {% endfor %}
            </div>
        </div>
        <div id="article-content">
            <textarea>{{post.body|safe}}</textarea>
        </div>
        <div class="action-box">
            <a href="javascript:" id="article-praise-down" class="praise {%if isPraise%}click-down{%endif%}">
                <i class="fa fa-thumbs-o-up"></i>
                <span>点赞</span>
            </a>
            <a href="javascript:" id="article-star" class="{%if isStar%}click-down{%endif%}">
                <i class="fa fa-star-o"></i>
                <span>收藏</span>
            </a>
            <a href="javascript:copyValue()">
                <i class="fa fa-share"></i>
                <span>分享</span>
            </a>
        </div>
        <input type="hidden" id="shareUrl" value="">
        <span id="copy"></span>
    </article>
    <!--处理逻辑-->
    <script>
        editormd.markdownToHTML("article-content", { //article_content是html文档的ID
            emoji: true,
            taskList: true,
        });
    </script>
    <script>
        $("#shareUrl").attr('value',window.location.href);
        function copyValue() {
            try {
                //追加内容
                var copyURL ='<textarea style="color:#fff;width:1px;height:1px;font-size:1px;" id="hiddenUrl">'+$("#shareUrl").val()+"</textarea>";
                //追加
                $("#copy").append(copyURL);
                //选中【复制内容】
                $("#hiddenUrl").select();
                //window.document.execCommand【不能复制隐藏域】
                window.document.execCommand("Copy");
                //移除
                $("#copy").html("");
                alert("已将链接复制到剪切板中！");
            }
            catch (e) {
                alert("系统繁忙！请刷新页面重试！");
                //保证页面样式不变
                $("#copy").html("");
                //打印错误信息
                console.log(e);
            }
        };
        $('.praise').click(function () {
            if(!getCookie('uid')){
                userLogin();
            }else{
                $.ajaxSetup({
                    // data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                    data:{csrfmiddlewaretoken:getCookie('csrftoken')},
                });
                $.ajax({
                    url: '/praise/',
                    type: 'post',
                    data: {
                        'articleId': '{{ post.id }}',
                    },
                    success: function (res) {
                        var val = parseInt($('#article-praise-up').text());
                        if (res.isPraise) {
                            // Ajax 局部刷新!!!
                            $('#article-praise-up i').html("&nbsp;&nbsp;");
                            $('#article-praise-up i').text($('#article-praise-up i').text()+(val+1).toString());
                            $('#article-praise-up i').attr('class','fa fa-thumbs-up');
                            $('#article-praise-down').attr('class','praise click-down');
                        }else {
                            $('#article-praise-up i').html("&nbsp;&nbsp;");
                            $('#article-praise-up i').text($('#article-praise-up i').text()+(val-1).toString());
                            $('#article-praise-up i').attr('class','fa fa-thumbs-o-up');
                            $('#article-praise-down').attr('class','praise');
                        }
                    }
                })
            };
        });

        $('#article-star').click(function () {
            if(!getCookie('uid')){
                userLogin();
            }else{
                $.ajaxSetup({
                    // data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                    data:{csrfmiddlewaretoken:getCookie('csrftoken')},
                });
                $.ajax({
                    url: '/star/',
                    type: 'post',
                    data: {
                        'articleId': '{{ post.id }}',
                    },
                    success: function (res) {
                        if (res.isStar) {
                            // Ajax 局部刷新!!!
                            $('#article-star').attr('class','click-down');
                        }else {
                            $('#article-star').removeClass('click-down');
                        }
                    }
                })
            };
        });
    </script>
{% endblock %}