{% extends "base.html" %}
{% block title %}分页测试{% endblock %}
{% block style %}
.content table{
    margin:auto;
}
.content table td,
.content table th{
    padding:20px;
}
.content table tr:nth-child(even){
    background-color:#d9d9d9;
}
.content table tr:nth-child(odd){
    background-color:#fff;
}
.pagination{
    display:table;
    text-align:center;
    margin:50px auto;
    margin-bottom:0;
    word-spacing:-1em;
}
.pagination li{
    display:inline-block;
    width:35px;
    height:35px;
    padding:0 5px;
    border:1px solid #eaeaea;
    border-collapse:collapse;
    line-height:35px;
    background-color:#fff;
}
.pagination li:hover{
    background-color:#66ccff;
}
.pagination li.active{
    background-color:#00ca65;
}
.pagination li a{
    display:inline-block;
    width:100%;
    height:100%;
}
.pagination li a:hover{
    color:#fff;
}
.pagination li.active a{
    color:#fff;
}
{% endblock %}
{% block content %}
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>地名</th>
            <th>等级</th>
            <th>隶属于</th>
        </tr>
        {% for i in page %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.level}}</td>
                <td>{{i.upid}}</td>
            </tr>
        {% endfor %}
    </table>

    <ul class="pagination">
        <!--上一页-->
        <li class="{% if not page.has_previous %}disabled{% endif %}">
          {% if page.has_previous %}
            <a href="{% url 'blog:pageinfo' %}?page={{ page.previous_page_number }}" aria-label="Previous">
          {% endif %}
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <!--页码-->
        <!--这里展示页码使用传递过来的dis_range -->
        {% for num in dis_range %}
        <li class="{% if num == page.number %}active{% else %}{% endif %}" >
          <a href="{% url 'blog:pageinfo' %}?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}

        <!--下一页-->  
        <li class="{% if not page.has_next %}disabled{% endif %}">
          {% if page.has_next %}
            <a href="{% url 'blog:pageinfo' %}?page={{ page.next_page_number }}" aria-label="Next">
          {% endif %}
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
    </ul>
{% endblock %}