{%extends "base.html"%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/blog/css/edit.css' %}">
{% endblock %}

{% block content %}
<div class="insbox">
    <input type="text" id="title" placeholder="请输入文章标题">
    {{ form.media }}
    {% for field in form %}
         {{ field }} 
    {% endfor %}
    <div class="choose category">
        <label>选择专栏分类：</label>
        {% for op in category %}
        <a>{{op}}</a>
        {% endfor %}
        <span class="hint">
            <svg data-v-3ea57bda="" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="200" height="200" class="hint-icon"><defs data-v-3ea57bda=""></defs><path data-v-3ea57bda="" d="M512.875 938.475c-235.435 0-426.262-190.848-426.262-426.262 0-235.434 190.848-426.261 426.262-426.261S939.136 276.8 939.136 512.213c-.021 235.414-190.848 426.262-426.261 426.262zm0-85.248c188.352 0 341.013-152.683 341.013-341.014 0-188.352-152.661-341.013-341.013-341.013S171.86 323.861 171.86 512.213c0 188.331 152.662 341.014 341.014 341.014zm-42.646-511.531a42.624 42.624 0 1185.291 0v204.587a42.667 42.667 0 01-85.29 0V341.696zm42.646 383.637a42.667 42.667 0 11.042-85.29 42.667 42.667 0 01-.042 85.29z"></path></svg>
            默认为『其他』
        </span>
    </div>
    
    <div class="choose tags">
        <label>选择文章标签：</label>
        <span class="choose-box">
            <a class="add-tag">+&nbsp;文章标签</a>
        </span>
        <div class="tags-box">
            <div class="tags-box-header">
                <h3>标签</h3>
                <a class="exit">
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="tags-box-search">
                <input type="text" id="tags-search" placeholder="请输入文字并键入Enter选择，没有相应标签将自动创建">
            </div>
            <div class="tags-box-body">
                {% for op in tags %}
                <span class="tags-item">
                    <a>{{op}}</a>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="choose cover">
        <label style="vertical-align: top;">上传封面：</label>
        <span class="chuans">
            <div class="delete-img" onclick="clearImg.call(this)">×</div>
            <div id="cover-img">
                <img>
            </div>
            <input class="uploadImg" type="file" id="chouba" onchange="showImg(this)"/>
            <i class="img-plus">+</i>
        </span>
        <div class="hint hint-cover">
            <svg data-v-3ea57bda="" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="200" height="200" class="hint-icon"><defs data-v-3ea57bda=""></defs><path data-v-3ea57bda="" d="M512.875 938.475c-235.435 0-426.262-190.848-426.262-426.262 0-235.434 190.848-426.261 426.262-426.261S939.136 276.8 939.136 512.213c-.021 235.414-190.848 426.262-426.261 426.262zm0-85.248c188.352 0 341.013-152.683 341.013-341.014 0-188.352-152.661-341.013-341.013-341.013S171.86 323.861 171.86 512.213c0 188.331 152.662 341.014 341.014 341.014zm-42.646-511.531a42.624 42.624 0 1185.291 0v204.587a42.667 42.667 0 01-85.29 0V341.696zm42.646 383.637a42.667 42.667 0 11.042-85.29 42.667 42.667 0 01-.042 85.29z"></path></svg>
            不选择将使用默认封面
            <br>
        </div>
    </div>
    <div class="bottom">
        <button id="return" onclick="location.href='javascript:history.go(-1)'">
            <i class="fa fa-angle-left"></i>
            返回
        </button>
        <button id="submit">提交</button>
    </div>
</div>
{% endblock %}

{%block script%}
<script>
    function user_directory_path(instance, filename){
        let ext = filename.split('.').pop();
        let username = str(instance.user);
        let time = str(int(time.time()));
        filename = `cover/post_${username}_${time}.${ext}`;
        return filename;
    }
    $('.category>a').click(()=>{
        $('.category>a').removeClass('active');
        event.target.classList.add('active');
    });
    $('.choose-box>a').click(()=>{
        $('.tags-box').show();
    });
    $('.exit').click(()=>{
        $('.tags-box').hide();
        $('#tags-search').val('');
    });

    let tags = new Array();
    let newTags = new Array();
    let chosenTags = new Array();
    let hasTag = false;
    let chosen = 0;
    $('.tags-item a').each((index,element)=>{
        tags[index]=element;
    });

    function addTag(val){
        let newChosenTag = $(`<a class="chosen-tag">${val}</a>`);
        let newDeleteTag = $(`<span class="delete-tag" onclick="tagRemove.call(this)">×</span>`);
        newChosenTag.append(newDeleteTag);
        $('.choose-box').prepend(newChosenTag);
    }

    function tagRemove(){
        $(this).parent().remove();
        let tagName = $(this).parent().text();
        tagName = tagName.slice(0,tagName.length-1);
        let ch = $(".tags-item a.chosen");
        for(let i = 0; i < ch.length; i++)
            if (ch[i].innerText == tagName)
                ch[i].classList.remove('chosen');
        chosenTags.forEach((item, index, arr) => {
            if(item.innerText === tagName)
                arr.splice(index, 1);
        });
        chosen--;
    }

    function selfTagRemove(){
        $(this).parent().remove();
        let tagName = $(this).parent().text();
        tagName = tagName.slice(0,tagName.length-1);
        let ch = $(".tags-item a.chosen");
        for(let i = ch.length - 1; i >= 0; i--)
            if (ch[i].innerText == tagName)
                ch[i].remove();
        chosenTags.forEach((item, index, arr) => {
            if(item.innerText === tagName)
                arr.splice(index, 1);
        });
        tags.forEach((item, index, arr) => {
            if(item.innerText === tagName)
                arr.splice(index, 1);
        });
        chosen--;
    }

    $(".tags-item a").click(()=>{ //点击选择
        let aClass = event.target.classList;
        if(chosen < 5 && !aClass.contains('chosen')){
            aClass.add('chosen');
            chosenTags.push(event.target);
            addTag(event.target.innerHTML);
            chosen++;
        }
    });

    $('#tags-search').bind('keypress',(event)=>{ //搜索框选择
        let hasChosen = val=>{
            let hasChoseIt = false;
            chosenTags.forEach(e => {
                if(e.innerHTML == val){
                    hasChoseIt = true;
                }
            });
            return hasChoseIt;
        }
        if (event.keyCode == "13") {
            event.preventDefault();
            //回车执行
            hasTag = false;
            tags.forEach(e=>{
                if(e.innerHTML == $('#tags-search').val()){ //有标签
                    if(!hasChosen($('#tags-search').val())){
                        e.classList.add('chosen');
                        chosenTags.push(e);
                        addTag(e.innerHTML);
                        chosen++;
                    }
                    hasTag = true;
                }
            });
            if(!hasTag && chosen < 5){ //没有标签，需要创建
                let tag = document.createElement('a');
                tag.classList.add('chosen');
                tag.innerHTML = $('#tags-search').val();
                let span = document.createElement('span');
                span.classList.add('tags-item');
                span.appendChild(tag);
                let appendSpan = document.getElementsByClassName('tags-box-body')[0].appendChild(span);
                tags.push(tag);
                newTags.push(tag.innerHTML);
                chosenTags.push(tag);

                let newChosenTag = $(`<a class="chosen-tag">${$('#tags-search').val()}</a>`);
                let newDeleteTag = $(`<span class="delete-tag" onclick="selfTagRemove.call(this)">×</span>`);
                newChosenTag.append(newDeleteTag);
                $('.choose-box').prepend(newChosenTag);

                chosen++;
            }
        }
    });

    $('.chuans').hover(()=>{
        $('#has-hover').show();
    },()=>{
        $('#has-hover').hide();
    });

    function showImg(input) {
        let file = input.files[0];
        let url = window.URL.createObjectURL(file);
        $('#cover-img>img').attr('src',url);
        $('.chuans').css({"border":"0"});
        $('.img-plus').hide();
        $('.delete-img').attr('id','has-hover');
    }
    function clearImg(){
        $('#cover-img>img').removeAttr('src');
        $('.uploadImg').val('');
        $('.chuans').css({"border":"1px dashed #ccc"});
        $('.img-plus').show();
        $('#has-hover').hide();
        $('.delete-img').removeAttr('id');
    }

    function getImgContent(fileContent){
        return new Promise((resolve,reject)=>{
            try{
                let reader = new FileReader();
                //将文件以Data URL形式读入页面
                reader.readAsDataURL(fileContent);
                reader.onload = e=>{
                    resolve(e.target.result);
                }
            }catch(e){
                resolve(null);
            }
        })
    }
    
    // 判断是否为编辑页面
    let isEdit = "{{isEdit}}";

    $('#submit').click(
        async ()=>{
            if(!$('#title').val()){
                alert('标题不能为空');
            }else if(!$('#id_content').val()){
                alert('内容不能为空');
            }else if(!chosenTags || !chosenTags.length){
                alert('标签必选');
            }else{
                let _chosenTags = new Array();
                chosenTags.forEach((item, index, arr)=>{
                    _chosenTags.push(item.innerText);
                });
                
                let fileContent = $('#chouba')[0].files[0];
                let imgContent = await getImgContent(fileContent);

                // url参数
                let urlParams = location.href.split('\?')[1];
                let paramsObject = {};
                if(urlParams){
                    urlParams.split('\&').forEach((el,index,arr)=>{
                        let paramDic = el.split('=');
                        paramsObject[paramDic[0]] = paramDic[1];
                    })
                }

                $.ajaxSetup({
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                });
                $.ajax({
                    url:"{% url 'blog:add' %}",
                    type:'POST',
                    traditional: true,
                    dataType: "json",
                    data: {
                        "postId": paramsObject['post'] ? paramsObject['post'] : '0',
                        "isEdit": isEdit == '1' ? true : false,
                        "body": $('#id_content').val(),
                        "title": $('#title').val(),
                        "tags": _chosenTags,
                        "newTags": newTags,
                        "category": $('.category>a.active').text(),
                        "coverName": $('#chouba').val().split('\\').pop(),
                        "coverContent": imgContent,
                    },
                    success:function(res){
                        alert('ok');
                        window.history.go(-1);
                    },
                    error: function(ree) { 
                        console.error(ree.status,ree.responseText);
                    }
                });
            }
    });

    if(isEdit == "1"){
        let postData = {
            "title": "{{data.title}}",
            "content": "{% autoescape off %}{{data.content|escapejs}}{% endautoescape %}",
            "category": "{{data.category}}",
            "tags": "{{data.tags|safe}}",
            "cover": "{{data.cover}}"
        }
        // 标题
        $('#title').val(postData['title']);

        // 内容
        $('#id_content').val(postData['content']);

        // 类别
        $('.category>a').each((index, element)=>{
            if(element.innerHTML == postData['category']){
                element.classList.add('active');
            }
        });

        // 标签
        let postTags = JSON.parse(postData['tags'].replace(/\'/g,'\"'));
        chosen = postTags.length;
        $(".tags-item a").each((index,element)=>{
            let arrIndex = postTags.indexOf(element.innerHTML);
            if(arrIndex != -1){
                element.classList.add('chosen');
                addTag(postTags[arrIndex]);
                let newA = document.createElement("a");
                newA.classList.add("chosen");
                newA.innerHTML = element;
                chosenTags.push(newA);
            }
        });

        // 封面
        $('#cover-img>img').attr('src',`/media/${postData['cover']}`);
        $('.chuans').css({"border":"0"});
        $('.img-plus').hide();
        $('.delete-img').attr('id','has-hover');
    }
</script>
{%endblock%}