{%extends "base.html"%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/blog/css/edit.css' %}">
{% endblock %}

{% block content %}
<div class="insbox">
    <input type="text" id="title" placeholder="请输入文章标题">
    {{ form.media }}
    {% for field in form %}
         {{ field }} 
    {% endfor %}
    <div class="choose category">
        <label>选择专栏分类：</label>
        {% for op in category %}
        <a>{{op}}</a>
        {% endfor %}
    </div>
    
    <div class="choose tags">
        <label>选择文章标签：</label>
        <span class="choose-box">
            <a class="add-tag">+&nbsp;文章标签</a>
        </span>
        <div class="tags-box">
            <div class="tags-box-header">
                <h3>标签</h3>
                <a class="exit">
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="tags-box-search">
                <input type="text" id="tags-search" placeholder="请输入文字并键入Enter选择，没有相应标签将自动创建">
            </div>
            <div class="tags-box-body">
                {% for op in tags %}
                <span class="tags-item">
                    <a>{{op}}</a>
                </span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="choose cover">
        <label style="vertical-align: top;">上传封面：</label>
        <span class="chuans">
            <div class="delete-img" onclick="clearImg.call(this)">×</div>
            <div id="cover-img">
                <img>
            </div>
            <input class="uploadImg" type="file" id="chouba" onchange="showImg(this)"/>
            <i class="img-plus">+</i>
        </span>
    </div>
    <button id="submit">提交</button>
</div>
{% endblock %}

{%block script%}
<script>
    function user_directory_path(instance, filename){
        let ext = filename.split('.').pop();
        let username = str(instance.user);
        let time = str(int(time.time()));
        filename = `cover/post_${username}_${time}.${ext}`;
        return filename;
    }
    $('.category>a').click(()=>{
        $('.category>a').removeClass('active');
        event.target.classList.add('active');
    });
    $('.choose-box>a').click(()=>{
        $('.tags-box').show();
    });
    $('.exit').click(()=>{
        $('.tags-box').hide();
        $('#tags-search').val('');
    });

    let tags = new Array();
    let newTags = new Array();
    let chosenTags = new Array();
    let hasTag = false;
    let chosen = 0;
    $('.tags-item a').each((index,element)=>{
        tags[index]=element;
    });

    function addTag(val){
        let newChosenTag = $(`<a class="chosen-tag">${val}</a>`);
        let newDeleteTag = $(`<span class="delete-tag" onclick="tagRemove.call(this)">×</span>`);
        newChosenTag.append(newDeleteTag);
        $('.choose-box').prepend(newChosenTag);
    }

    function tagRemove(){
        $(this).parent().remove();
        let tagName = $(this).parent().text();
        tagName = tagName.slice(0,tagName.length-1);
        let ch = $(".tags-item a.chosen");
        for(let i = 0; i < ch.length; i++)
            if (ch[i].innerText == tagName)
                ch[i].classList.remove('chosen');
        chosenTags.forEach((item, index, arr) => {
            if(item.innerText === tagName)
                arr.splice(index, 1);
        });
        chosen--;
    }

    function selfTagRemove(){
        $(this).parent().remove();
        let tagName = $(this).parent().text();
        tagName = tagName.slice(0,tagName.length-1);
        let ch = $(".tags-item a.chosen");
        for(let i = ch.length - 1; i >= 0; i--)
            if (ch[i].innerText == tagName)
                ch[i].remove();
        chosenTags.forEach((item, index, arr) => {
            if(item.innerText === tagName)
                arr.splice(index, 1);
        });
        tags.forEach((item, index, arr) => {
            if(item.innerText === tagName)
                arr.splice(index, 1);
        });
        chosen--;
    }

    $(".tags-item a").click(()=>{ //点击选择
        let aClass = event.target.classList;
        if(chosen < 5 && !aClass.contains('chosen')){
            aClass.add('chosen');
            chosenTags.push(event.target);
            addTag(event.target.innerHTML);
            chosen++;
        }
    });

    $('#tags-search').bind('keypress',(event)=>{ //搜索框选择
        let hasChosen = val=>{
            let hasChoseIt = false;
            chosenTags.forEach(e => {
                if(e.innerHTML == val){
                    hasChoseIt = true;
                }
            });
            return hasChoseIt;
        }
        if (event.keyCode == "13") {
            event.preventDefault();
            //回车执行
            tags.forEach(e=>{
                if(e.innerHTML == $('#tags-search').val() && !hasChosen($('#tags-search').val())){ //有标签
                    e.classList.add('chosen');
                    chosenTags.push(e);
                    addTag(e.innerHTML);
                    hasTag = true;
                    chosen++;
                }
            });
            if(!hasTag && chosen < 5){ //没有标签，需要创建
                let tag = document.createElement('a');
                tag.classList.add('chosen');
                tag.innerHTML = $('#tags-search').val();
                let span = document.createElement('span');
                span.classList.add('tags-item');
                span.appendChild(tag);
                let appendSpan = document.getElementsByClassName('tags-box-body')[0].appendChild(span);
                tags.push(tag);
                newTags.push(tag.innerHTML);
                chosenTags.push(tag);

                let newChosenTag = $(`<a class="chosen-tag">${$('#tags-search').val()}</a>`);
                let newDeleteTag = $(`<span class="delete-tag" onclick="selfTagRemove.call(this)">×</span>`);
                newChosenTag.append(newDeleteTag);
                $('.choose-box').prepend(newChosenTag);

                chosen++;
            }
        }
    });

    $('.chuans').hover(()=>{
        $('#has-hover').show();
    },()=>{
        $('#has-hover').hide();
    });

    function showImg(input) {
        let file = input.files[0];
        let url = window.URL.createObjectURL(file);
        $('#cover-img>img').attr('src',url);
        $('.chuans').css({"border":"0"});
        $('.img-plus').hide();
        $('.delete-img').attr('id','has-hover');
    }
    function clearImg(){
        $('#cover-img>img').removeAttr('src');
        $('.uploadImg').val('');
        $('.chuans').css({"border":"1px dashed #ccc"});
        $('.img-plus').show();
        $('#has-hover').hide();
        $('.delete-img').removeAttr('id');
    }

    $('#submit').click(
        ()=>{
            let _chosenTags = new Array();
            chosenTags.forEach((item, index, arr)=>{
                _chosenTags.push(item.innerText);
            });
            let fileContent = $('#chouba')[0].files[0];
            var reader = new FileReader();
            //将文件以Data URL形式读入页面
            reader.readAsDataURL(fileContent);
            let result = null;
            reader.onload = e=>{
                $.ajaxSetup({
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
                });
                $.ajax({
                    url:"{% url 'blog:add' %}",
                    type:'POST',
                    traditional: true,
                    dataType: "json",
                    data: { 
                        "body": $('#id_content').val(),
                        "title": $('#title').val(),
                        "tags": _chosenTags,
                        "newTags": newTags,
                        "category": $('.category>a.active').text(),
                        "coverName": $('#chouba').val().split('\\').pop(),
                        "coverContent": e.target.result,
                    },
                    success:function(res){
                        alert('ok');
                        // window.location.href = 'http://123.57.231.224:8009';
                        console.log(e.target.result);
                    },
                    error: function(ree) { 
                        console.error(ree.status,ree.responseText);
                    }
                });
            }
            
    });
</script>
{%endblock%}