{%extends "base.html"%}
{% block title %}
    Black &amp; White
{% endblock %}
{% block head %}
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <!-- <link rel="stylesheet" href="/static/blog/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/blog/css/pace.css">
    <link rel="stylesheet" href="/static/blog/css/custom.css"> -->

    <!-- js -->
    <!-- <script src="/static/blog/js/jquery-2.1.3.min.js"></script>
    <script src="/static/blog/js/bootstrap.min.js"></script>
    <script src="/static/blog/js/pace.min.js"></script>
    <script src="/static/blog/js/modernizr.custom.js"></script> -->
{% endblock %}

{% block style %}
    .clearfix::after{
        content:"";
        display:block;
        clear:both;
    }
    .content{
        margin:0 auto;
        padding:2% 10px;
        max-width: 1200px;
    }
    .content::after{
        content:"";
        display:block;
        clear:both;
    }
    .content-left{
        float:left;
        width:68%;
        clear:both;
    }
    .banner{
        width:100%;
    }
    .img-round{
        float:left;
    }
    .img-round img{
        width:800px;
        height:300px;
    }
    .content-right{
        width: 29%;
        float: right;
    }
    .sidebar{
        /*border:1px solid #cfcfd1;*/
        outline:#cfcfd1 solid 1px;
    }
    .right-bgi{
    }
    .right-bgi img{
        width:100%;
        height:100px;
    }
    .right-avatar img{
        width:25%;
        margin-top:-46px;
        border-radius:50%;
        /*box-shadow:0 0 5px 3px #d6d6e6;*/
        border:5px solid rgba(255,255,255,.55);
    }
    .right-text{
        color:#424242;
        line-height:42px;
    }
    .right-text h3{
        display:inline-block;
        padding:8px 12px;
        color:#f6f6f6;
        /*background-color:#e1e1e1;*/
        background-color:#1242af;
        border-radius:3px;
        font-weight:700;
        line-height:25px;
    }
    article{
        padding:5% 5%;
        margin:3% 0;
        background-color:white;
    }
    .entry-cover i{
        font-style:normal;
        display: block;
        width: 200px;
        border-radius: 3px;
        overflow: hidden;
        float: left;
        margin-right: 2%;
    }
    .entry-cover i img{
        width:100%;
    }
    .entry-header{
        display: block;
        font-size: 14px;
        color: #666;
        overflow: hidden;
        /*display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        width: 75%;
        float: left;
        line-height: 26px;
        max-height: 105px;*/
    }
    .entry-title{
        text-align:left;
    }
    .entry-meta{
        text-align:left;
        line-height:48px;
    }
    .entry-meta .fa{
        padding:0 5px;
        margin-right:15px;
    }
    .entry-meta .fa:first-child{
        padding-left:0;
    }
    .excerpt{
        text-align:left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    @media screen and (max-width: 1023px){
        .content{
            width: 96%;
            margin: auto;
        }
        .img-round img{
            margin:auto;
            width:95%;
            height:95%;
        }
        .content-left{
            width:96%;
        }
        .content-right{
            /*display:none;*/
        }
    }
    @media screen and (max-width:720px){
        .entry-cover i{
            width:94px;
        }
        .entry-meta .fa{
            padding:0;
            margin-right:15px;
        }
        .excerpt{
            -webkit-line-clamp: 1;
        }
    }
{% endblock %}

{% block content %}
{% load static %}
    <div class="content-left">
        <div class="banner clearfix">
            <div class="img-round">
                <img src="{% static '/blog/img/arkbg.jpg' %}" alt="">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    {%for post in article%}
                    <article class="clearfix">
                        <div class="entry-cover">
                            <i><img src="{% static '/blog/img/excel.png' %}" alt=""></i>
                        </div>
                        <div class="entry-header">
                            <div class="entry-title">
                                <h1>这是一段测试标题</h1>
                            </div>
                            <div class="entry-meta">
                                <i class="fa fa-clock-o time">&nbsp;&nbsp;{{post.created_time}}</i>
                                <i class="fa fa-eye">&nbsp;&nbsp;{{post.views}}</i>
                                <i class="fa fa-thumbs-o-up">&nbsp;&nbsp;{{post.thumbs_up}}</i>
                                <i class="fa fa-comment-o">&nbsp;&nbsp;{{post.comments}}</i>
                            </div>
                        </div>
                        <div class="entry-content">
                            <div class="excerpt">
                                {{post.excerpt}}
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                    <!-- <article class="post post-{{article.0}}">
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="{{article.0.get_absolute_url}}">测试链接</a>
                            </h1>
                            <div class="entry-meta">
                                <span class="post-category"><a href="#">Django 博客教程</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                        datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                                <span class="post-author"><a href="#">追梦人物</a></span>
                                <span class="comments-link"><a href="#">4 评论</a></span>
                                <span class="views-count"><a href="#">588 阅读</a></span>
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                                开发的技巧...</p>
                            <div class="read-more cl-effect-14">
                                <a href="{{article.get_absolute_url}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article>

                    <article class="post post-2">
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="single.html">Django 博客开发入门教程：前言</a>
                            </h1>
                            <div class="entry-meta">
                                <span class="post-category"><a href="#">Django 博客教程</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                        datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                                <span class="post-author"><a href="#">追梦人物</a></span>
                                <span class="comments-link"><a href="#">4 评论</a></span>
                                <span class="views-count"><a href="#">588 阅读</a></span>
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                                开发的技巧...</p>
                            <div class="read-more cl-effect-14">
                                <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article>

                    <article class="post post-3">
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="single.html">Django 博客开发入门教程：前言</a>
                            </h1>
                            <div class="entry-meta">
                                <span class="post-category"><a href="#">Django 博客教程</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                        datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                                <span class="post-author"><a href="#">追梦人物</a></span>
                                <span class="comments-link"><a href="#">4 评论</a></span>
                                <span class="views-count"><a href="#">588 阅读</a></span>
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                                开发的技巧...</p>
                            <div class="read-more cl-effect-14">
                                <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article>

                    <article class="post post-4">
                        <header class="entry-header">
                            <h1 class="entry-title">
                                <a href="single.html">Django 博客开发入门教程：前言</a>
                            </h1>
                            <div class="entry-meta">
                                <span class="post-category"><a href="#">Django 博客教程</a></span>
                                <span class="post-date"><a href="#"><time class="entry-date"
                                                                        datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                                <span class="post-author"><a href="#">追梦人物</a></span>
                                <span class="comments-link"><a href="#">4 评论</a></span>
                                <span class="views-count"><a href="#">588 阅读</a></span>
                            </div>
                        </header>
                        <div class="entry-content clearfix">
                            <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                                开发的技巧...</p>
                            <div class="read-more cl-effect-14">
                                <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                            </div>
                        </div>
                    </article> -->
                    <!-- 简单分页效果
                    <div class="pagination-simple">
                        <a href="#">上一页</a>
                        <span class="current">第 6 页 / 共 11 页</span>
                        <a href="#">下一页</a>
                    </div>
                    -->
                    <div class="pagination">
                        <ul>
                            <li><a href="">1</a></li>
                            <li><a href="">...</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li class="current"><a href="">6</a></li>
                            <li><a href="">7</a></li>
                            <li><a href="">8</a></li>
                            <li><a href="">...</a></li>
                            <li><a href="">11</a></li>
                        </ul>
                    </div>
                </main>
                <aside class="col-md-4">
                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">最新文章</h3>
                        <ul>
                            <li>
                                <a href="#">Django 博客开发入门教程：前言</a>
                            </li>
                            <li>
                                <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
                            </li>
                            <li>
                                <a href="#">部署 Django 博客</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget-archives">
                        <h3 class="widget-title">归档</h3>
                        <ul>
                            <li>
                                <a href="#">2017 年 5 月</a>
                            </li>
                            <li>
                                <a href="#">2017 年 4 月</a>
                            </li>
                            <li>
                                <a href="#">2017 年 3 月</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget-category">
                        <h3 class="widget-title">分类</h3>
                        <ul>
                            <li>
                                <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
                            </li>
                            <li>
                                <a href="#">Python 教程 <span class="post-count">(11)</span></a>
                            </li>
                            <li>
                                <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget-tag-cloud">
                        <h3 class="widget-title">标签云</h3>
                        <ul>
                            <li>
                                <a href="#">Django</a>
                            </li>
                            <li>
                                <a href="#">Python</a>
                            </li>
                            <li>
                                <a href="#">Java</a>
                            </li>
                            <li>
                                <a href="#">笔记</a>
                            </li>
                            <li>
                                <a href="#">文档</a>
                            </li>
                            <li>
                                <a href="#">AngularJS</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">JavaScript</a>
                            </li>
                            <li>
                                <a href="#">Snippet</a>
                            </li>
                            <li>
                                <a href="#">jQuery</a>
                            </li>
                        </ul>
                    </div>
                    <div class="rss">
                        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="content-right">
        <div class="sidebar">
            <div class="right-bgi">
                <img src="{% static '/blog/img/color1.jpg' %}" alt="">
            </div>
            <div class="right-avatar">
                <img src="{% static '/image/rabbit.jpg' %}" alt="">
            </div>
            <div class="right-text">
                <h3>亚甲基蓝</h3>
                <hr style="margin: 12px 20px;">
                <p>啥也不是，净唠比嗑</p>
                <p>沉舟侧畔千帆过，病树前头万木春。</p>
            </div>
        </div>
    </div>
<!-- <footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2017 - 采集自<a href="http://www.cssmoban.com/"
                                                        target="_blank" title="模板之家">模板之家</a>
                    - 由<a href="http://zmrenwu.com/" title="网页模板" target="_blank">追梦人物的博客</a>修改
                </p>
            </div>
        </div>
    </div>
</footer> -->
<script>
    var a = document.getElementsByClassName('time')[0];
    a.innerText=a.innerText.split(' ')[0].replace(/[年月]/g,'-').replace(/日/g,'');
</script>
<script src="/static/blog/js/script.js"></script>
{% endblock %}
<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>


</body>
</html>
