{%extends "base.html"%}
{% block head %}
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <!-- <link rel="stylesheet" href="/static/blog/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/blog/css/pace.css">
    <link rel="stylesheet" href="/static/blog/css/custom.css"> -->

    <!-- js -->
    <!-- <script src="/static/blog/js/jquery-2.1.3.min.js"></script>
    <script src="/static/blog/js/bootstrap.min.js"></script>
    <script src="/static/blog/js/pace.min.js"></script>
    <script src="/static/blog/js/modernizr.custom.js"></script> -->
{% endblock %}

{% block style %}
    .clearfix::after{
        content:"";
        display:block;
        clear:both;
    }
    .content{
        margin:0 auto;
        padding:30px 10px;
        max-width: 1260px;
    }
    .content::after{
        content:"";
        display:block;
        clear:both;
    }
    .content-left{
        float:left;
        width:68%;
        clear:both;
        overflow:hidden;
    }
    .banner{
        width:100%;
    }
    .img-round{
        float:left;
        height:300px;
        overflow:hidden;
    }
    .img-round img{
        width:auto;
        height:100%;
    }
    .content-right{
        width: 29%;
        float: right;
    }
    .widget{
        /*border:1px solid #cfcfd1;*/
        outline:#cfcfd1 solid 1px;
        background-color:#fff;
        margin:30px 0;
        padding:10px 20px 10px 20px;
        text-align:left;
    }
    .widget:first-child{
        margin:0;
        padding:0 0 10px 0;
        text-align:center;
    }
    .widget-title{
        text-align:left;
        position:relative;
        padding:5px 10px 15px 0px;
        color:#444;
        border-bottom:1px solid #ddd;
        margin-bottom:10px;
    }
    .widget-title::after{
        content:"";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100px;
        background-color: #51aded;
        height: 2px!important;
    }
    .widget li{
        margin:25px 0;
    }
    .widget ul li a{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color:#666;
    }
    .widget-tag-cloud ul li{
        display:inline-block;
        margin:5px;
        padding:5px;
    }
    .widget-tag-cloud ul li:nth-child(5n+1){
        background-color:#66ccff;
    }
    .widget-tag-cloud ul li:nth-child(5n+2){
        background-color:#ffcc55;
    }
    .widget-tag-cloud ul li:nth-child(5n+3){
        background-color:#aadd77;
    }
    .widget-tag-cloud ul li:nth-child(5n+4){
        background-color:#ad1299;
    }
    .widget-tag-cloud ul li:nth-child(5n+5){
        background-color:#e85e11;
    }
    .widget-tag-cloud ul li a{
        color:#fff;
    }
    .right-bgi img{
        width:100%;
        height:100px;
    }
    .right-avatar img{
        width:25%;
        margin-top:-46px;
        border-radius:50%;
        /*box-shadow:0 0 5px 3px #d6d6e6;*/
        border:5px solid rgba(255,255,255,.55);
    }
    .right-text{
        color:#424242;
        line-height:36px;
    }
    .right-text h3:first-child{
        margin:0 20px 10px 20px;
        padding:0 0 16px 0;
        border-bottom:1px solid #ddd;
    }
    .right-text h3 a{
        display:inline-block;
        margin:5px 0 0 0;
        padding:8px 12px;
        color:#f6f6f6;
        /*background-color:#e1e1e1;*/
        background-color:#1242af;
        border-radius:3px;
        font-weight:700;
        line-height:20px;
    }
    article{
        padding:3% 5% 3% 3%;
        margin:3% 0;
        background-color:white;
    }
    .entry-cover {
        width: 200px;
        height: 125px;
        border-radius: 3px;
        overflow: hidden;
        float: left;
        margin-right: 5%;
    }
    .entry-cover img{
        width:100%;
    }
    .entry-header{
        text-align:left;
        display: block;
        font-size: 14px;
        color: #aaa;
        overflow: hidden;
    }
    .entry-header a{
        color: #aaa;
    }
    .entry-title a{
        color: #666;
    }
    .entry-meta{
        line-height:48px;
    }
    .entry-meta .fa{
        padding:0 5px;
        margin-right:15px;
    }
    .entry-meta .fa:first-child{
        padding-left:0;
    }
    .excerpt{
        text-align:left;
        color:#666;
        font-size:14px;
        line-height:25px;
        width:fit-content;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .pagination{
        display:table;
        text-align:center;
        margin:50px auto;
        margin-bottom:0;
        word-spacing:-1em;
    }
    .pagination li{
        display:inline-block;
        width:35px;
        height:35px;
        border:1px solid #eaeaea;
        border-collapse:collapse;
        line-height:35px;
        background-color:#fff;
    }
    .pagination li:hover{
        background-color:#66ccff;
    }
    .pagination li.active{
        background-color:#00ca65;
    }
    .pagination li a{
        display:block;
        width:100%;
        height:100%;
    }
    .pagination li a:hover{
        color:#fff;
    }
    .pagination li.active a{
        color:#fff;
    }
    @media screen and (max-width: 1210px){
        .content{
            width: 96%;
            margin: auto;
        }
        .content-left{
            width:96%;
        }
        .content-right{
            display:none;
        }
    }
    @media screen and (max-width:480px){
        .entry-cover i{
            width:94px;
        }
        .entry-meta .fa{
            padding:0;
            margin-right:15px;
        }
        .excerpt{
            -webkit-line-clamp: 1;
        }
        .img-round{
            height:150px;
        }
    }
{% endblock %}

{% block content %}
{% load static %}
    <div class="content-left">
        <div class="banner clearfix">
            <div class="img-round">
                <a href="#">
                    <img src="{% static '/blog/img/arkbg.jpg' %}" alt="">
                </a>
            </div>
        </div>
        <div class="container">
            {% for post in page %}
            <article class="clearfix">
                <div class="entry-cover">
                    <a href="#">
                        <img src="/media/{{ post.img }}" alt="">
                    </a>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h1><a href="">{{ post }}</h1></a>
                    </div>
                    <div class="entry-meta">
                        <a href="#"><i class="fa fa-user-o">&nbsp;&nbsp;{{ post.user.nick_name }}</i></a>
                        <i class="fa fa-clock-o time">&nbsp;&nbsp;{{ post.created_time }}</i>
                        <a href="#"><i class="fa fa-eye">&nbsp;&nbsp;{{ post.views }}</i></a>
                        <a href="#"><i class="fa fa-thumbs-o-up">&nbsp;&nbsp;{{ post.thumbs_up }}</i></a>
                        <a href="#"><i class="fa fa-comment-o">&nbsp;&nbsp;{{ post.comments }}</i></a>
                    </div>
                </div>
                <div class="entry-content">
                    <a href="#" class="excerpt">
                        {% if post.excerpt %}
                        {{ post.excerpt }}
                        {% else %}
                        {{ post.content }}
                        {% endif %}
                    </a>
                </div>
            </article>
            {% endfor %}
            <ul class="pagination">
                <!--上一页-->
                <li class="{% if not page.has_previous %}disabled{% endif %}">
                    {% if page.has_previous %}
                    <a href="{% url 'blog:index' %}?page={{ page.previous_page_number }}" aria-label="Previous">
                    {% endif %}
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
        
                <!--页码-->
                <!--这里展示页码使用传递过来的dis_range -->
                {% for num in dis_range %}
                <li class="{% if num == page.number %}active{% else %}{% endif %}" >
                    <a href="{% url 'blog:index' %}?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
        
                <!--下一页-->  
                <li class="{% if not page.has_next %}disabled{% endif %}">
                    {% if page.has_next %}
                    <a href="{% url 'blog:index' %}?page={{ page.next_page_number }}" aria-label="Next">
                    {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>   
    </div>
    <div class="content-right">
        <aside>
            <div class="widget widget-self-info">
                <div class="right-bgi">
                    <img src="{% static '/blog/img/color1.jpg' %}" alt="">
                </div>
                <div class="right-avatar">
                    <a href="#"><img src="{% static '/image/rabbit.jpg' %}" alt=""></a>
                </div>
                <div class="right-text">
                    <h3><a href="#">亚甲基蓝</a></h3>
                    <p>啥也不是，净唠比嗑</p>
                    <p>沉舟侧畔千帆过，病树前头万木春。</p>
                </div>
            </div>
            <div class="widget widget-recent-posts">
                <h4 class="widget-title">
                    <i class="fa fa-send-o">&nbsp;&nbsp;</i>最新文章
                </h4>
                <ul class="widget-recent-content">
                    {% for post in article %}
                    <li>
                        <a href="#">
                            <i class="fa fa-file-text-o"></i>
                            {{post.title}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="widget widget-archives">
                <h4 class="widget-title">
                    <i class="fa fa-archive">&nbsp;&nbsp;</i>归档
                </h4>
                <ul>
                    <li>
                        <a href="#">2017 年 5 月</a>
                    </li>
                    <li>
                        <a href="#">2017 年 4 月</a>
                    </li>
                    <li>
                        <a href="#">2017 年 3 月</a>
                    </li>
                </ul>
            </div>

            <div class="widget widget-category">
                <h4 class="widget-title">
                    <i class="fa fa-folder-open-o">&nbsp;&nbsp;</i>分类
                </h4>
                <ul>
                    {% for cat in category %}
                    <li>
                        <a href="#">{{cat}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="widget widget-tag-cloud">
                <h4 class="widget-title">
                    <i class="fa fa-tags">&nbsp;&nbsp;</i>标签云
                </h4>
                <ul>
                    {% for tag in tags %}
                    <li>
                        <a href="#">{{tag}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="rss">
                <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
            </div>
        </aside>
    </div>
    <script>
        var a = document.getElementsByClassName('time');
        for(var i=0;i<a.length;i++){
            a[i].innerText=a[i].innerText.split(' ')[0].replace(/[年月]/g,'-').replace(/日/g,'');
        }
        var img = document.getElementsByClassName('img-round')[0].firstElementChild.firstElementChild;
        var left = document.getElementsByClassName('content-left')[0];
        if(img.clientWidth<left.offsetWidth){
            img.style.width="100%";
            img.style.height="auto";
        }
        else{
            img.style.width="auto";
            img.style.height="100%";
        }
    </script>
    <script src="/static/blog/js/script.js"></script>
{% endblock %}
<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>


</body>
</html>
