{%extends "base.html"%}
{% block head %}
    <!-- css -->
    <!-- <link rel="stylesheet" href="/static/blog/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/blog/css/pace.css">
    <link rel="stylesheet" href="/static/blog/css/custom.css"> -->
    <link rel="stylesheet" href="/static/blog/css/index.css">

    <!-- js -->
    <!-- <script src="/static/blog/js/jquery-2.1.3.min.js"></script>
    <script src="/static/blog/js/bootstrap.min.js"></script>
    <script src="/static/blog/js/pace.min.js"></script>
    <script src="/static/blog/js/modernizr.custom.js"></script> -->
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
{% load static %}
    <div class="content-left">
        <div class="banner">
            <div class="scroll clearfix">
                <div class="img-round" style="opacity: 1;z-index: 5;">
                    <a href="{% static '/blog/img/arkbg.jpg' %}">
                        <img src="{% static '/blog/img/arkbg.jpg' %}" alt="">
                    </a>
                </div>
                <div class="img-round" style="z-index: 4;">
                    <a href="{% static '/blog/img/arknights1.jpg' %}">
                        <img src="{% static '/blog/img/arknights1.jpg' %}" alt="">
                    </a>
                </div>
                <div class="img-round" style="z-index: 3;">
                    <a href="{% static '/blog/img/arknights2.jpg' %}">
                        <img src="{% static '/blog/img/arknights2.jpg' %}" alt="">
                    </a>
                </div>
                <div class="img-round" style="z-index: 2;">
                    <a href="{% static '/blog/img/arknights3.jpg' %}">
                        <img src="{% static '/blog/img/arknights3.jpg' %}" alt="">
                    </a>
                </div>
                <div class="img-round" style="z-index: 1;">
                    <a href="{% static '/blog/img/arknights4.jpg' %}">
                        <img src="{% static '/blog/img/arknights4.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="trigger">
                <span class="active"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="container">
            {% load blogExtras %}
            {% for post in page %}
            <article class="clearfix">
                <div class="entry-cover">
                    <a href="#">
                        <img src="/media/{{ post.img }}" alt="">
                    </a>
                </div>
                <div class="entry-header">
                    <div class="entry-title">
                        <h1><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</h1></a>
                    </div>
                    <div class="entry-meta">
                        <a href="#"><i class="fa fa-user-o">&nbsp;&nbsp;{{ post.user.nick_name }}</i></a>
                        <i class="fa fa-clock-o time">&nbsp;&nbsp;{{ post.created_time }}</i>
                        <a href="#"><i class="fa fa-eye">&nbsp;&nbsp;{{ post.views }}</i></a>
                        <a href="#"><i class="fa fa-thumbs-o-up">&nbsp;&nbsp;{{ post.thumbs_up }}</i></a>
                        <a href="#"><i class="fa fa-comment-o">&nbsp;&nbsp;{{ post.comments }}</i></a>
                    </div>
                </div>
                <div class="entry-content">
                    <a href="{% url 'blog:detail' post.id %}" class="excerpt">
                        {% if post.excerpt %}
                        {{ post.excerpt }}
                        {% else %}
                        {{ post.body }}
                        {% endif %}
                    </a>
                </div>
            </article>
            {% endfor %}
            <ul class="pagination">
                <!--上一页-->
                <li class="{% if not page.has_previous %}disabled{% endif %}">
                    {% if page.has_previous %}
                    <a href="{% url 'blog:index' %}?page={{ page.previous_page_number }}" aria-label="Previous">
                    {% endif %}
                    <!-- <span aria-hidden="true">&laquo;</span> -->
                    <span aria-hidden="true">
                        <i class="fa fa-caret-left"></i>
                    </span>
                    </a>
                </li>
        
                <!--页码-->
                <!--这里展示页码使用传递过来的dis_range -->
                {% for num in dis_range %}
                <li class="{% if num == page.number %}active{% else %}{% endif %}" >
                    <a href="{% url 'blog:index' %}?page={{ num }}">{{ num }}</a>
                </li>
                {% endfor %}
        
                <!--下一页-->  
                <li class="{% if not page.has_next %}disabled{% endif %}">
                    {% if page.has_next %}
                    <a href="{% url 'blog:index' %}?page={{ page.next_page_number }}" aria-label="Next">
                    {% endif %}
                    <!-- <span aria-hidden="true">&raquo;</span> -->
                    <span aria-hidden="true">
                        <i class="fa fa-caret-right"></i>
                    </span>
                    </a>
                </li>
            </ul>
        </div>   
    </div>
    <div class="content-right">
        <aside>
            <div class="widget widget-self-info">
                <div class="right-bgi">
                    <img src="{% static '/blog/img/color1.jpg' %}" alt="">
                </div>
                <div class="right-avatar">
                    <a href="#"><img src="{% static '/image/rabbit.jpg' %}" alt=""></a>
                </div>
                <div class="right-text">
                    <h3><a href="#">亚甲基蓝</a></h3>
                    <p>啥也不是，净唠比嗑</p>
                    <p>沉舟侧畔千帆过，病树前头万木春。</p>
                </div>
            </div>
            <!-- <div class="widget widget-recent-posts">
                <h4 class="widget-title">
                    <i class="fa fa-send-o">&nbsp;&nbsp;</i>最新文章
                </h4>
                <ul class="widget-recent-content">
                    {% for post in article %}
                    <li>
                        <a href="{% url 'blog:detail' %}?post={{post.id}}">
                            <i class="fa fa-file-text-o"></i>
                            {{post.title}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div> -->
            {% get_sidebar_list as sidebars %}
            {% for sidebar in sidebars %}
                <div class="widget {% if sidebar.display_type == 5 %} widget-tag-cloud {% endif %}">
                    <h4 class="widget-title">
                        <a href="#">
                            <i class="{% if sidebar.display_type == 1 %} 
                                        fa fa-search
                                        {% elif sidebar.display_type == 2 %}
                                        fa fa-send-o
                                        {% elif sidebar.display_type == 3 %}
                                        fa fa-fire
                                        {% elif sidebar.display_type == 4 %}
                                        fa fa-archive
                                        {% elif sidebar.display_type == 5 %}
                                        fa fa-tags
                                        {% elif sidebar.display_type == 6 %}
                                        fa fa-comment-o
                                        {% else %}
                                        fa fa-bars
                                    {% endif %}">
                            </i>{{ sidebar.title }}
                        </a>
                    </h4>
                    <ul class="widget-content">
                        {{ sidebar.get_content|safe }}
                    </ul>
                </div>
            {% endfor %}
            
            <!-- <div class="rss">
                <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
            </div> -->
        </aside>
    </div>
    <script>
        var a = document.getElementsByClassName('time');
        for(var i=0;i<a.length;i++){
            a[i].innerText=a[i].innerText.split(' ')[0].replace(/[年月]/g,'-').replace(/日/g,'');
        }
        var img = document.getElementsByClassName('img-round')[0].firstElementChild.firstElementChild;
        var left = document.getElementsByClassName('content-left')[0];
        if(img.clientWidth<left.offsetWidth){
            img.style.width="100%";
            img.style.height="auto";
        }
        else{
            img.style.width="auto";
            img.style.height="100%";
        }
    </script>
    <script src="/static/blog/js/script.js"></script>
    <script>
        var index = 0, i = 0;
        var scroll = document.getElementsByClassName('img-round');
        var scrollLength = scroll.length;
        var trigger = document.getElementsByClassName('trigger')[0].children;
        var triggerLength = trigger.length;
        function scrollImg(){
            for(i = 0; i < scrollLength; i++){
                scroll[i].style.opacity = 0;
            }
            index = (index + 1) % scrollLength;
            scroll[index].style.opacity = 1;

            for(i = 0; i < scrollLength; i++){
                scroll[i].style.zIndex = ((scroll[i].style.zIndex) % scrollLength) + 1;
                trigger[i].className = "";
            }
            trigger[index].className = "active";
        }

        var scrollInterval = 0;
        document.querySelectorAll('.trigger span').forEach((el,ind) => {
            el.addEventListener('click',event=>{
                clearInterval(scrollInterval);
                index = ind - 1;
                scrollImg();
                scrollInterval = setInterval(scrollImg, 3000);
            })
        });
        scrollInterval = setInterval(scrollImg, 3000);
    </script>
{% endblock %}
<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html">首页</a></li>
            <li><a href="full-width.html">博客</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
        </ul>
    </nav>
</div>


</body>
</html>
