{%extends "base.html"%}
{% load static %}
{% block title %}个人中心{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/blog/css/space.css' %}">
{% block spaceHead %}
{% endblock %}
{% endblock %}

{% block content %}
<div class="up-content">
    <a href="#" class="user-avatar user-avatar-top">
        <img src="/media/avatar/default.jpg" alt="">
    </a>
    <p class="user-nick-name user-nick-name-top"></p>
</div>
<div class="up-bar">
    <a href="javascript:upBarTab('home')" class="up-bar-home {% if tab == 'home' %}up-bar-active{% endif %}">主页</a>
    <a href="javascript:upBarTab('post')" class="up-bar-post {% if tab == 'post' %}up-bar-active{% endif %}">博文</a>
    <a href="javascript:upBarTab('star')" class="up-bar-star {% if tab == 'star' %}up-bar-active{% endif %}">收藏</a>
    <a href="javascript:upBarTab('follow')" class="up-bar-follow {% if tab == 'follow' %}up-bar-active{% endif %}">关注</a>
    <a href="javascript:upBarTab('fans')" class="up-bar-fans {% if tab == 'fans' %}up-bar-active{% endif %}">粉丝</a>
    <div class="up-bar-after"></div>
</div>
<div class="main">
    <div class="left-content">
        {% block space %}
        {% endblock %}
    </div>
    <div class="right-content">
        <div class="widget">
            <h4 class="widget-title">
                个人成就
            </h4>
            <ul class="widget-content">
                <li><i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;获得{}次点赞</li>
                <li><i class="fa fa-comment-o"></i>&nbsp;&nbsp;内容获得{}次评论</li>
                <li><i class="fa fa-star-o"></i>&nbsp;&nbsp;获得{}次收藏</li>
            </ul>
        </div>
        <div class="widget">
            <h4 class="widget-title">
                个人资料
                <a href="javascript:" class="change-info">编辑资料</a>
            </h4>
            <ul class="widget-content">
                <li>UID <span>{}</span></li>
                <li>昵称 <span>{}</span></li>
                <li>性别 <span>{}</span></li>
                <li>生日 <span>{}</span></li>
            </ul>
        </div>
    </div>
    
</div>
{% endblock %}

{% block script %}
<script>
    var upBarLeft = $(".up-bar").offset().left;
    var activeLeft = $(".up-bar-active").offset().left;

    $(".up-bar-after").width($(".up-bar-active").outerWidth());
    $(".up-bar-after").css("left", activeLeft - upBarLeft);
    
    $(".up-bar a").click(function(){
        var aArr = $(".up-bar a").removeClass("up-bar-active");
        $(this).addClass("up-bar-active");
    });
    $(".up-bar a").hover(
        function(){
            $(this).stop(true).css("color","#00aaff");
            var hoverLeft = $(this).offset().left;
            $(".up-bar-after").stop(true).width($(this).outerWidth());
            $(".up-bar-after").stop(true).css("left", hoverLeft - upBarLeft);
        },
        function(){
            $(this).stop(true).css("color","#6f6f6fea");
            activeLeft = $(".up-bar-active").offset().left;
            $(".up-bar-after").stop(true).width($(".up-bar-active").outerWidth());
            $(".up-bar-after").stop(true).css("left", activeLeft - upBarLeft);
        }
    );

    var upBarTab = function (tab) {
        $.ajax({ 
            url: "{% url 'blog:space' %}",
            dataType: "html",
            data: { 
                "tab": tab
            },
            type: "GET",
            success: function(res,status,xhr) {
                window.location.reload();
            },
            error: function(er) { 
                console.error(er.status,er.responseText);
            }
        });
    }
</script>
{% block spaceScript %}
{% endblock %}
{% endblock %}