{%extends "blog/index.html"%}
{% load static %}

{% block title %} {{ tag }}的归档{% endblock %}
{% block bhead %}
<link rel="stylesheet" href="{% static '/blog/css/archives_list.css' %}">
{% endblock %}

{% block article %}
    <!-- 显示当前分类模块 -->
    <div class="archives-box clearfix">
        <span class="start">
            {{ year }}年{{ month }}月
        </span>
        <span class="post-num">
          共{{ post_list.count }} 篇
        </span>
    </div>
    <div class="article clearfix">
      <ul>
        {% for post in post_list %}
        <li>
          <span class="date">
            {% if post.created_time.month > 9 %}{% else %}0{% endif %}{{post.created_time.month}}-{% if post.created_time.day > 9 %}{% else %}0{% endif %}{{post.created_time.day}}</span>
          <div class="left-arrow"></div>
          <a href="{% url 'blog:detail' post.id %}">{{post.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <span class="end">End</span>
    <!-- 显示当前分类模块 end-->
{% endblock  %}