{% extends "base.html" %}
{% block title %}
    上传文件测试
{% endblock %}
{% block style %}
        form{
            text-align: center;
        }
        table{
            margin: 100px auto;
            border: 1px solid #000;
            border-collapse: collapse
        }
        td{
            border: 1px solid #000;
            padding: 20px;
        }
{% endblock %}
{% block content %}
    <form action="{% url 'blog:dealfile' %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>
                    <label>上传内容</label>
                </td>
                <td>
                    <input type="text" name='text'>
                </td>
            </tr>
            <tr>
                <td>
                    <label>上传文件</label>
                </td>
                <td>
                    <input type="file" name='pic' >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value='提交'>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}