<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="shortcut icon" href="{% static '/image/favicon.ico' %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}亚甲基蓝个人博客{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
    <script src="{% static '/blog/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/blog/css/base.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="/static/blog/css/waifu.min.css?v=1.4.2"/> -->
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <div class="header-box">
            <div class="icon">
                <a href="{% url 'blog:index' %}">
                    <img src="{% static '/image/header.png' %}" alt="">
                    <h2>
                        A101E-LAB
                    </h2>
                </a>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="{% url 'blog:index' %}">
                            <i class="fa fa-home"></i>首页
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-edit"></i>博文
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-wrench"></i>小工具
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog:about' %}">
                            <i class="fa fa-mortar-board"></i>关于我
                        </a>
                    </li>
                </ul>
                <form id="search-box" autocomplete="off" target="_blank" method="get" action="">
                    <input type="text" placeholder="啥也不是，净唠比嗑" name="keyword">
                    <input type="hidden" name="from_source" value="nav_suggest_new">
                    <a style="display: none" target="_blank" class="recommended-target" href="https://www.bilibili.com/video/BV1vU4y1N7xT"></a>
                    <button type="submit" title="搜索" tabindex="-1">
                        <svg style="width:22px;height:22px" viewBox="0 0 24 24">
                            <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"></path>
                        </svg>
                    </button>
                </form>
                <span class="user" id="header-user" {%if request.user.is_authenticated%}{%else%}style="display:none;"{%endif%}>
                    <a href="{% url 'blog:space' %}" id="header-user-avatar" class="user-avatar">
                        <img src="/media/avatar/default.jpg" alt="">
                    </a>
                    <div class="ins">
                        <p id="header-user-nick-name" class="user-nick-name"></p>
                        <div class="header-meta">
                            <a href="{% url 'blog:space' %}?tab=fans">
                                <div class="user-fans-count">--</div>
                                <div>粉丝</div>
                            </a>
                            <a href="{% url 'blog:space' %}?tab=follow">
                                <div class="user-follow-count">--</div>
                                <div>关注</div>
                            </a>
                            <a href="{% url 'blog:space' %}?tab=post">
                                <div class="user-post-count">--</div>
                                <div>文章</div>
                            </a>
                        </div>
                        <a href="{% url 'blog:space' %}">
                            <i class="fa fa-user"></i>
                            个人中心
                        </a>
                        <!-- 第二个a标签不知道为什么调整top的时候总是和其他的a标签不一样，所以单独给它一个class单独调整top -->
                        <a href="{% url 'blog:space' %}?tab=post" class="edit-center">
                            <i class="fa fa-edit"></i>
                            创作中心
                        </a>
                        <a href="{% url 'blog:space' %}?tab=star" target="_blank">
                            <i class="fa fa-star"></i>
                            我的收藏
                        </a>
                        <a href="javascript:userLogout()">退出</a>
                    </div>
                </span>
                <span class="login-box" {%if request.user.is_authenticated%}style="display:none;"{%else%}{%endif%}>
                    <a href="javascript:userLogin()" id="login">
                        <i class="fa fa-user"></i>&nbsp;登录
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}
            内容预留区域
        {% endblock %}
    </div>
    <footer>
        <div class="box">
            <div class="footer-img footer-col">
                <img src="{% static 'image/rabbit.jpg' %}" alt="">
            </div>
            <div class="footer-content footer-col">
                <p>Copyright © 2021 -2022 亚甲基蓝博客</p>
                <p>啥也不是，净唠比嗑</p>
                <p>虽然不知道写什么，但还是写点看起来高大上的</p>
            </div>
        </div>
    </footer>
    <div class="sign" id="sign">
        <!-- <div class="sign-mask-outer"> -->
        <div class="sign-mask" id="sign-mask" onclick="signShow()"></div>
        <!-- </div> -->
        <div class="sign-container" id="sign-container">
            <div class="sign-tips"></div>
            <div class="sign-social">
                <h2>用户登录</h2>
            </div>
            <div class="sign-form">
                <div class="login-error">
                    <h4>帐号或密码错误,请重试.</h4>
                </div>
                <form id="sign-in" method="post">
                    <input type="hidden" name="username" id="username" value="">
                    <input type="hidden" name="password" id="password" value="">
                    <input type="hidden" name="savedate" id="savedate" value="1">
                    <h6><input type="text" name="edtUserName" class="form-control" id="edtUserName" checked="checked" required="required" value="" placeholder="用户名"><i class="fa fa-user"></i></h6>
                    <h6><input type="password" name="edtPassWord" class="form-control" id="edtPassWord" checked="checked" required="required" placeholder="密码"><i class="fa fa-lock" style="font-size:18px;"></i></h6>
                    <div class="sign-submit">
                        <label><input type="checkbox" name="chkRemember" id="chkRemember" tabindex="3">下次自动登录</label>
                        <input type="submit" class="btn btn-primary signinsubmit-loader" id="btnPosts" name="btnPosts" value="登录">
                        <input type="hidden" name="action" value="signin">
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <!-- waifu-tips.js 依赖 JQuery 库 -->
    <!-- <script src="/static/blog/js/jquery.min.js?v=3.3.1"></script> -->
    
    <!-- 实现拖动效果，需引入 JQuery UI -->
    <script src="/static/blog/js/jquery-ui.min.js"></script>
    
    <!-- 第一个版本的live2d -->
    <!-- <div class="waifu">
        <div class="waifu-tips"></div>
        <canvas id="live2d" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
    <script src="/static/blog/js/waifu-tips.min.js?v=1.4.2"></script>
    <script src="/static/blog/js/live2d.min.js?v=1.0.5"></script> 
    <script type="text/javascript">
        /* 可直接修改部分参数 */
        live2d_settings['modelId'] = 1;                  // 默认模型 ID
        live2d_settings['modelTexturesId'] = 87;         // 默认材质 ID
        live2d_settings['modelStorage'] = false;         // 不储存模型 ID
        live2d_settings['canCloseLive2d'] = false;       // 隐藏 关闭看板娘 按钮
        live2d_settings['canTurnToHomePage'] = false;    // 隐藏 返回首页 按钮
        live2d_settings['waifuSize'] = '300x235';        // 看板娘大小
        live2d_settings['waifuTipsSize'] = '270x50';    // 提示框大小
        live2d_settings['waifuFontSize'] = '16px';       // 提示框字体
        live2d_settings['waifuToolFont'] = '16px';       // 工具栏字体
        live2d_settings['waifuToolLine'] = '30px';       // 工具栏行高
        live2d_settings['waifuToolTop'] = '0px';       // 工具栏顶部边距
        live2d_settings['waifuDraggable'] = 'unlimited';    // 拖拽样式
        live2d_settings['waifuEdgeSide'] = 'right:10';   //左右位置
        /* 在 initModel 前添加 */
        initModel("/static/blog/json/waifu-tips.json?v=1.4.2")
    </script> -->




    <!-- 第二个版本 -->
    <!-- <script type="text/javascript" src="/static/blog/useLive2d/message.js"></script>  -->
    <!-- <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/blog/useLive2d/index.js"></script>
    <script type="text/javascript">
        useLive2dInit({
            path:'/static/blog/useLive2d', //类库的位置
            modelType:'koharu'//模特类型，即所在live2Model下文件夹名
        });
    </script> -->




    <!-- 第三个版本 -->
    <script type="text/javascript" src="/static/blog/live2d-widget/autoload.js"></script>





    <script type="text/javascript" src="{% static 'blog/js/md5.js'%}"></script>
    <script>
        var Base64 = {
            _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",
            encode: function(e) {
                var t = "";
                var n, r, i, s, o, u, a;
                var f = 0;
                e = Base64._utf8_encode(e);
                while (f < e.length) {
                    n = e.charCodeAt(f++);
                    r = e.charCodeAt(f++);
                    i = e.charCodeAt(f++);
                    s = n >> 2;
                    o = (n & 3) << 4 | r >> 4;
                    u = (r & 15) << 2 | i >> 6;
                    a = i & 63;
                    if (isNaN(r)) {
                        u = a = 64
                    } else if (isNaN(i)) {
                        a = 64
                    }
                    t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)
                }
                return t
            },
            decode: function(e) {
                var t = "";
                var n, r, i;
                var s, o, u, a;
                var f = 0;
                e = e.replace(/[^A-Za-z0-9+/=]/g, "");
                while (f < e.length) {
                    s = this._keyStr.indexOf(e.charAt(f++));
                    o = this._keyStr.indexOf(e.charAt(f++));
                    u = this._keyStr.indexOf(e.charAt(f++));
                    a = this._keyStr.indexOf(e.charAt(f++));
                    n = s << 2 | o >> 4;
                    r = (o & 15) << 4 | u >> 2;
                    i = (u & 3) << 6 | a;
                    t = t + String.fromCharCode(n);
                    if (u != 64) {
                        t = t + String.fromCharCode(r)
                    }
                    if (a != 64) {
                        t = t + String.fromCharCode(i)
                    }
                }
                t = Base64._utf8_decode(t);
                return t
            },
            _utf8_encode: function(e) {
                e = e.replace(/rn/g, "n");
                var t = "";
                for (var n = 0; n < e.length; n++) {
                    var r = e.charCodeAt(n);
                    if (r < 128) {
                        t += String.fromCharCode(r)
                    } else if (r > 127 && r < 2048) {
                        t += String.fromCharCode(r >> 6 | 192);
                        t += String.fromCharCode(r & 63 | 128)
                    } else {
                        t += String.fromCharCode(r >> 12 | 224);
                        t += String.fromCharCode(r >> 6 & 63 | 128);
                        t += String.fromCharCode(r & 63 | 128)
                    }
                }
                return t
            },
            _utf8_decode: function(e) {
                var t = "";
                var n = 0;
                var r = c1 = c2 = 0;
                while (n < e.length) {
                    r = e.charCodeAt(n);
                    if (r < 128) {
                        t += String.fromCharCode(r);
                        n++
                    } else if (r > 191 && r < 224) {
                        c2 = e.charCodeAt(n + 1);
                        t += String.fromCharCode((r & 31) << 6 | c2 & 63);
                        n += 2
                    } else {
                        c2 = e.charCodeAt(n + 1);
                        c3 = e.charCodeAt(n + 2);
                        t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
                        n += 3
                    }
                }
                return t
            }
        }
        function getCookie(cname){
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
            }
            return "";
        }
        // 这样写的目的是为了不让这个网页在编辑器里报错
        var isLogin = "{{request.user.is_authenticated}}";
        if(isLogin=='True'){
            var userInfo = JSON.parse(getCookie('USER_INFO').replace(/\\054/g, ',').slice(1,-1).replace(/\'/g,'\"'));
            $(".user-nick-name").text(userInfo["nickname"]);
            $(".user-avatar img").attr("src", "/media/" + userInfo["avatar"]);
            $(".user-fans-count").text(userInfo["fansCount"]);
            $(".user-follow-count").text(userInfo["followCount"]);
            $(".user-post-count").text(userInfo["articleCount"]);
        }
        // username = Base64.decode(getCookie('username'));
        // avatarSrc = Base64.decode(getCookie('avatar'));
        // var userId = getCookie('uid');
    </script>
    <script>
        var userLogin = function () {
            $('#sign').css("visibility","visible");
            $('#sign').css("opacity","1.0");
            $('#sign-container').css("transform","rotateX(0deg) translateZ(0px) translateY(0%)");
        }
        var signShow = function(){
            $('#sign').css("visibility","hidden");
            $('#sign').css("opacity","0.0");
            $('#sign-container').css("transform","rotateX(-20deg) translateZ(200px) translateY(20%)");
            $(".login-error h4").hide();
            $("#edtUserName").val('');
            $("#edtPassWord").val('');
            $(".sign .sign-container").css("height", "330px");
        }
        $("#header-user").hover(function(){
            $('#header-user .ins').stop(true).show(100);
            $('#header-user-avatar img').css({"width":"60px","height":"60px","left":"-10px","top":"16px"});
        },function(){
            $('#header-user .ins').stop(true).hide(100);
            $('#header-user-avatar img').css({"width":"40px","height":"40px","left":"0px","top":"10px"});
        });
        var showLoginForm = function () {
            var strUserName = $("#edtUserName").val();
            var strPassWord = $("#edtPassWord").val();
            var strSaveDate = $("#savedate").val();
            if ((strUserName == "") || (strPassWord == "")) { 
                alert("用户名和密码不能为空");return false;
            };
            $.ajaxSetup({
                data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
            });
            $.ajax({ 
                url: "{% url 'blog:userlogin' %}",
                dataType: "json",
                data: { 
                    "username": strUserName,
                    "password": strPassWord,
                    "savedate": strSaveDate
                },
                type: "POST",
                success: function(res,status,xhr) {
                    window.location.reload();
                    // signShow();
                    // $("#login").hide();
                    // $("#user-nick-name").text(res["userInfo"]["nick_name"]);
                    // $("#user-avatar img").attr("src", "/media/" + res["userInfo"]["image"]);
                    // $("#user").show();
                },
                error: function(ree) { 
                    console.error(ree.status,ree.responseText);
                    if (ree.status == 500) { 
                        $(".login-error h4").show(100);
                        $(".sign .sign-container").css("height", "370px");
                    }
                }
            });
            return false;
        };
        $("#btnPosts").click(showLoginForm);
        $("#chkRemember").click(function() { 
            $("#savedate").attr("value", $("#chkRemember").attr("checked") == "checked" ? 30 : 1); 
        });
        var userLogout=function(){
            $.ajax({
                url:"{% url 'blog:userlogout' %}",
                type:'GET',
                success:function(res){
                    window.location.href = "http://" + window.location.href.split('/')[2];
                },
                error: function(ree) { 
                    console.error(ree.status,ree.responseText);
                }
            })
        };
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>
