{%extends "base.html"%}
{% block style %}
    .content ul li{
        height: 80px;
        margin: 30px 0;
        line-height: 80px;
    }
    .content ul li a{
        display: inline-block;
        height: 100%;
        width: 100%;
        color: black;
        font-size: larger;
        font-family: 'icomoon';
        font-weight: 900;
    }
    .content ul li a:hover{
        background-color: rgba(31, 185, 147, 0.733);
    }
{% endblock %}
{% block content %}
    <ul>
        <li><a href="{% url 'blog:upload' %}">文件上传</a></li>
        <li><a href="{% url 'blog:pageinfo' %}">分页操作</a></li>
    </ul>
{% endblock %}