{%extends "blog/space/paginator.html"%}
{% load static %}
{% block title %}粉丝列表{% endblock %}

{% block spaceHead %}
{% endblock %}

{% block space_page %}
    <div class="main-content">
    {% if page %}
        {% for follow in page %}
            <article class="clearfix">
                <div class="entry-header">
                    <div class="entry-title">
                        <h1><a href="javascript:">{{ follow.followUser.nick_name }}</h1></a>
                    </div>
                    <div class="entry-meta">
                        
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <div class="blank-tips">
            <p>暂无数据</p>
        </div>
    {% endif %}
    </div>
{% endblock %}