{%extends "blog/space/paginator.html"%}
{% load static %}
{% block title %}我的博客{% endblock %}

{% block spaceHead %}
{% endblock %}

{% block space_page %}
    <div class="main-content">
    {% if page %}
        {% for post in page %}
            <article class="clearfix">
                <div class="entry-header">
                    <div class="entry-title">
                        <h1><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</h1></a>
                    </div>
                    <div class="entry-edit">
                        <a href="{% url 'blog:edit' %}?post={{post.id}}" class="change-info">编辑</a>
                        <a href="javascript:deletePost({{post.id}})" class="change-info">删除</a>
                    </div>
                    <div class="entry-meta">
                        <a href="#"><i class="fa fa-user-o">&nbsp;&nbsp;{{ post.user.nick_name }}</i></a>
                        <i class="fa fa-clock-o time">&nbsp;&nbsp;{{ post.created_time }}</i>
                        <a href="{% url 'blog:detail' post.id %}"><i class="fa fa-eye">&nbsp;&nbsp;{{ post.views }}</i></a>
                        <a href="{% url 'blog:detail' post.id %}"><i class="fa fa-thumbs-o-up">&nbsp;&nbsp;{{ post.thumbs_up }}</i></a>
                        <a href="{% url 'blog:detail' post.id %}"><i class="fa fa-comment-o">&nbsp;&nbsp;{{ post.comments }}</i></a>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <div class="blank-tips">
            <p>暂无数据</p>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block spaceScript %}
<script>
    deletePost = articleId =>{
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'},
        });
        $.ajax({
            url: "{% url 'blog:deleteArticle' %}",
            dataType: "json",
            data:{
                articleId,
            },
            type: "POST",
            success: res =>{
                window.location.reload();
            }
        })
    };
</script>
{% endblock %}